---
layout: good_clean_default
title: Writings
---
<head>
  <meta charset=utf-8 />
  <link rel="stylesheet" href="css/styles.css" />
  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<title>Writings</title>
</head>

<a href="https://maalaria.github.io/collection/" onclick=“window.open(‘https://maalaria.github.io/collection/’, ‘_self’);”><<<</a>
<br>
<br>
<br>

<section class="content">
  <h1>Writings</h1>
</section>


<h3>Lit</h3>
{% for post in site.writings %}
  {% if post.category == "writings" %}
    {% if post.tag == "lit" %}
      <a class="post" href="{{ post._url }}" onclick=“window.open(‘{{ post._url }}’, ‘_self’);”>{{ post.title }}</a><br>
    {% endif %}
  {% endif %}
{% endfor %}


<h3>Politics</h3>
{% for post in site.writings %}
  {% if post.category == "writings" %}
    {% if post.tag == "politics" %}
      <a class="post" href="{{ post._url }}" onclick=“window.open(‘{{ post._url }}’, ‘_self’);”>{{ post.title }}</a><br>
    {% endif %}
  {% endif %}
{% endfor %}

<h3>Art</h3>
<!--{% for post in site.writings %}-->
{% for post in "art/" %}
  {% if post.category == "writings" %}
    {% if post.tag == "art" %}
      <a class="post" href="{{ post._url }}" onclick=“window.open(‘{{ post._url }}’, ‘_self’);”>{{ post.title }}</a><br>
    {% endif %}
  {% endif %}
{% endfor %}


<h3>Miscellaneous</h3>
{% for post in site.writings %}
  {% if post.category == "writings" %}
    {% if post.tag == "miscellaneous" %}
      <a class="post" href="{{ post._url }}" onclick=“window.open(‘{{ post._url }}’, ‘_self’);”>{{ post.title }}</a><br>
    {% endif %}
  {% endif %}
{% endfor %}

<h3>Neuroscience</h3>
{% for post in site.writings %}
  {% if post.category == "writings" %}
    {% if post.tag == "neuroscience" %}
      <a class="post" href="{{ post._url }}" onclick=“window.open(‘{{ post._url }}’, ‘_self’);”>{{ post.title }}</a><br>
    {% endif %}
  {% endif %}
{% endfor %}

<h3>Philosophy</h3>
{% for post in site.writings %}
  {% if post.category == "writings" %}
    {% if post.tag == "philosophy" %}
      <a class="post" href="{{ post._url }}" onclick=“window.open(‘{{ post._url }}’, ‘_self’);”>{{ post.title }}</a><br>
    {% endif %}
  {% endif %}
{% endfor %}

<h3>EvoEco</h3>
{% for post in site.writings %}
  {% if post.category == "writings" %}
    {% if post.tag == "evoeco" %}
      <a class="post" href="{{ post._url }}" onclick=“window.open(‘{{ post._url }}’, ‘_self’);”>{{ post.title }}</a><br>
    {% endif %}
  {% endif %}
{% endfor %}

<!--
<h3>System and information</h3>
{% for post in site.writings %}
  {% if post.category == "writings" %}
    {% if post.tag == "system_and_information" %}
      <a class="post" href="{{ post._url }}" onclick=“window.open(‘{{ post._url }}’, ‘_self’);”>{{ post.title }}</a><br>
    {% endif %}
  {% endif %}
{% endfor %}
-->
