_writings/art/09092017_wiener_secession.md
_writings/art/09092017review_of_my_work.md
_writings/art/09092017vom_zeichnen_zum_film.md
_writings/art/10092017_art_reception.md
_writings/art/art_vs_vucelic.md
_writings/evoeco/altruismus-und-individuelle-fitness.md
_writings/evoeco/brutpflege-erlernt.md
_writings/evoeco/dynamic-levels-of-selection.md
_writings/evoeco/evolution-als-entropiezunahme.md
_writings/evoeco/evolution-of-signals.md
_writings/evoeco/evolution-und-indivuum.md
_writings/evoeco/kulturelle-evolution.md
_writings/evoeco/menschliches-leben-und-effizienz.md
_writings/fiction/tschau.md
_writings/fiction/was-stirbt.md
_writings/miscellaneous/being_strategist.md
_writings/miscellaneous/creating_events.md
_writings/miscellaneous/deutschsein-amerikanisch-sein.md
_writings/miscellaneous/difference-of-script-and-typing.md
_writings/miscellaneous/effect-of-online-dating.md
_writings/miscellaneous/gestaltet-bieber-umwelt.md
_writings/miscellaneous/good-science-bad-science.md
_writings/miscellaneous/identity.md
_writings/miscellaneous/lifestyle_fluechtling.md
_writings/miscellaneous/mystification-of-science.md
_writings/miscellaneous/neue-kommunikationsformen.md
_writings/miscellaneous/research_in_context.md
_writings/miscellaneous/vollendung-der-hexenjagd.md
_writings/miscellaneous/why-research-is-not-about-helping-people.md
_writings/miscellaneous/world_war_z.md
_writings/neuroscience/ansatz-funktionaler-bewusstseinstheorie.md
_writings/neuroscience/consciousness_as_uncertainty.md
_writings/neuroscience/consciousness-as-emergent-property.md
_writings/neuroscience/consciousness-imagery.md
_writings/neuroscience/environment-interaction-measure.md
_writings/neuroscience/ethymologie-bewusstsein.md
_writings/neuroscience/free-will.md
_writings/neuroscience/funktionale-reduktion.md
_writings/neuroscience/neurone-und-kochrezepte.md
_writings/neuroscience/on_thomas_nagel_on_identity_theory.md
_writings/neuroscience/on-intelligence.md
_writings/neuroscience/qualia-naturwissenschaftlich.md
_writings/neuroscience/strucutre_and_algorithm_of_the_brain.md
_writings/neuroscience/three-arguments-against-universal-grammar.md
_writings/neuroscience/warum-bewusstsein-funktional-erklaerbar-ist.md
_writings/neuroscience/what-mary-didnt-know.md
_writings/philosophy/chalmers-lehre.md
_writings/philosophy/effective_altruism.md
_writings/philosophy/philosophen-begriffe.md
_writings/philosophy/science_ideology.md
_writings/philosophy/urfaschismus.md
_writings/philosophy/wissensgesellschaften.md
_writings/philosophy/wofuer_wissenschaft.md
_writings/politics/begruendung-des-nicht-waehlens.md
_writings/politics/culture_cs_nature.md
_writings/politics/fehler-der-privatwirtschaft.md
_writings/politics/gender_identity.md
_writings/politics/globalization-as-the-fundamental-racial-act.md
_writings/politics/Neu_RechtesDenken.md
_writings/politics/onCapitalism.md
_writings/politics/politische_spektren.md
_writings/politics/pure_democracy.md
_writings/politics/sieg-des-kapitalismus-uerber-die-linke.md
_writings/politics/ueber_individuum_und_kollektiv.md
_writings/politics/unzulaenglichkeit-nationalstaatlicher-instrumente.md
_writings/system_and_information/definition-information.md
_writings/system_and_information/emergente-eigenschaften.md
_writings/system_and_information/entwicklung-von-systemen.md
_writings/system_and_information/purpose-of-systems.md
_writings/system_and_information/systemtheoretical-approach-to-probability.md
_writings/system_and_information/two-systems.md
.htpasswd
