/Users/mariusgorner/Dropbox/collection/_writings/art/09092017_wiener_secession.md
/Users/mariusgorner/Dropbox/collection/_writings/art/09092017review_of_my_work.md
/Users/mariusgorner/Dropbox/collection/_writings/art/09092017vom_zeichnen_zum_film.md
/Users/mariusgorner/Dropbox/collection/_writings/art/10092017_art_reception.md
/Users/mariusgorner/Dropbox/collection/_writings/art/art_vs_vucelic.md
/Users/mariusgorner/Dropbox/collection/_writings/evoeco/altruismus-und-individuelle-fitness.md
/Users/mariusgorner/Dropbox/collection/_writings/evoeco/brutpflege-erlernt.md
/Users/mariusgorner/Dropbox/collection/_writings/evoeco/dynamic-levels-of-selection.md
/Users/mariusgorner/Dropbox/collection/_writings/evoeco/evolution-als-entropiezunahme.md
/Users/mariusgorner/Dropbox/collection/_writings/evoeco/evolution-of-signals.md
/Users/mariusgorner/Dropbox/collection/_writings/evoeco/evolution-und-indivuum.md
/Users/mariusgorner/Dropbox/collection/_writings/evoeco/kulturelle-evolution.md
/Users/mariusgorner/Dropbox/collection/_writings/evoeco/menschliches-leben-und-effizienz.md
/Users/mariusgorner/Dropbox/collection/_writings/fiction/tschau.md
/Users/mariusgorner/Dropbox/collection/_writings/fiction/was-stirbt.md
/Users/mariusgorner/Dropbox/collection/_writings/miscellaneous/being_strategist.md
/Users/mariusgorner/Dropbox/collection/_writings/miscellaneous/creating_events.md
/Users/mariusgorner/Dropbox/collection/_writings/miscellaneous/deutschsein-amerikanisch-sein.md
/Users/mariusgorner/Dropbox/collection/_writings/miscellaneous/difference-of-script-and-typing.md
/Users/mariusgorner/Dropbox/collection/_writings/miscellaneous/effect-of-online-dating.md
/Users/mariusgorner/Dropbox/collection/_writings/miscellaneous/gestaltet-bieber-umwelt.md
/Users/mariusgorner/Dropbox/collection/_writings/miscellaneous/good-science-bad-science.md
/Users/mariusgorner/Dropbox/collection/_writings/miscellaneous/identity.md
/Users/mariusgorner/Dropbox/collection/_writings/miscellaneous/lifestyle_fluechtling.md
/Users/mariusgorner/Dropbox/collection/_writings/miscellaneous/mystification-of-science.md
/Users/mariusgorner/Dropbox/collection/_writings/miscellaneous/neue-kommunikationsformen.md
/Users/mariusgorner/Dropbox/collection/_writings/miscellaneous/research_in_context.md
/Users/mariusgorner/Dropbox/collection/_writings/miscellaneous/vollendung-der-hexenjagd.md
/Users/mariusgorner/Dropbox/collection/_writings/miscellaneous/why-research-is-not-about-helping-people.md
/Users/mariusgorner/Dropbox/collection/_writings/miscellaneous/world_war_z.md
/Users/mariusgorner/Dropbox/collection/_writings/neuroscience/ansatz-funktionaler-bewusstseinstheorie.md
/Users/mariusgorner/Dropbox/collection/_writings/neuroscience/consciousness_as_uncertainty.md
/Users/mariusgorner/Dropbox/collection/_writings/neuroscience/consciousness-as-emergent-property.md
/Users/mariusgorner/Dropbox/collection/_writings/neuroscience/consciousness-imagery.md
/Users/mariusgorner/Dropbox/collection/_writings/neuroscience/environment-interaction-measure.md
/Users/mariusgorner/Dropbox/collection/_writings/neuroscience/ethymologie-bewusstsein.md
/Users/mariusgorner/Dropbox/collection/_writings/neuroscience/free-will.md
/Users/mariusgorner/Dropbox/collection/_writings/neuroscience/funktionale-reduktion.md
/Users/mariusgorner/Dropbox/collection/_writings/neuroscience/neurone-und-kochrezepte.md
/Users/mariusgorner/Dropbox/collection/_writings/neuroscience/on_thomas_nagel_on_identity_theory.md
/Users/mariusgorner/Dropbox/collection/_writings/neuroscience/on-intelligence.md
/Users/mariusgorner/Dropbox/collection/_writings/neuroscience/qualia-naturwissenschaftlich.md
/Users/mariusgorner/Dropbox/collection/_writings/neuroscience/strucutre_and_algorithm_of_the_brain.md
/Users/mariusgorner/Dropbox/collection/_writings/neuroscience/three-arguments-against-universal-grammar.md
/Users/mariusgorner/Dropbox/collection/_writings/neuroscience/warum-bewusstsein-funktional-erklaerbar-ist.md
/Users/mariusgorner/Dropbox/collection/_writings/neuroscience/what-mary-didnt-know.md
/Users/mariusgorner/Dropbox/collection/_writings/philosophy/chalmers-lehre.md
/Users/mariusgorner/Dropbox/collection/_writings/philosophy/effective_altruism.md
/Users/mariusgorner/Dropbox/collection/_writings/philosophy/philosophen-begriffe.md
/Users/mariusgorner/Dropbox/collection/_writings/philosophy/science_ideology.md
/Users/mariusgorner/Dropbox/collection/_writings/philosophy/urfaschismus.md
/Users/mariusgorner/Dropbox/collection/_writings/philosophy/wissensgesellschaften.md
/Users/mariusgorner/Dropbox/collection/_writings/philosophy/wofuer_wissenschaft.md
/Users/mariusgorner/Dropbox/collection/_writings/politics/begruendung-des-nicht-waehlens.md
/Users/mariusgorner/Dropbox/collection/_writings/politics/culture_cs_nature.md
/Users/mariusgorner/Dropbox/collection/_writings/politics/fehler-der-privatwirtschaft.md
/Users/mariusgorner/Dropbox/collection/_writings/politics/gender_identity.md
/Users/mariusgorner/Dropbox/collection/_writings/politics/globalization-as-the-fundamental-racial-act.md
/Users/mariusgorner/Dropbox/collection/_writings/politics/Neu_RechtesDenken.md
/Users/mariusgorner/Dropbox/collection/_writings/politics/onCapitalism.md
/Users/mariusgorner/Dropbox/collection/_writings/politics/politische_spektren.md
/Users/mariusgorner/Dropbox/collection/_writings/politics/pure_democracy.md
/Users/mariusgorner/Dropbox/collection/_writings/politics/sieg-des-kapitalismus-uerber-die-linke.md
/Users/mariusgorner/Dropbox/collection/_writings/politics/ueber_individuum_und_kollektiv.md
/Users/mariusgorner/Dropbox/collection/_writings/politics/unzulaenglichkeit-nationalstaatlicher-instrumente.md
/Users/mariusgorner/Dropbox/collection/_writings/system_and_information/definition-information.md
/Users/mariusgorner/Dropbox/collection/_writings/system_and_information/emergente-eigenschaften.md
/Users/mariusgorner/Dropbox/collection/_writings/system_and_information/entwicklung-von-systemen.md
/Users/mariusgorner/Dropbox/collection/_writings/system_and_information/purpose-of-systems.md
/Users/mariusgorner/Dropbox/collection/_writings/system_and_information/systemtheoretical-approach-to-probability.md
/Users/mariusgorner/Dropbox/collection/_writings/system_and_information/two-systems.md
/Users/mariusgorner/Dropbox/collection/.htpasswd
