---
layout: good_clean_default
title: Gogolla
---
<head>
  <meta charset=utf-8 />
  <link rel="stylesheet" href="../css/solo.css" />
  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<title>Gogolla</title>
</head>

<a class="back" href="../" onclick=“window.open(‘../’, ‘_self’);”><b><</b></a>


<section class="content">
  <h1>Gogolla</h1>
</section>

<h3>Docs</h3>
<!--{% for post in site.Gogolla %}
  {% if post.category == "Gogolla" %}
    {% if post.tag == "lab_meeting" %}
      <a class="post" href="{{ post._url }}" onclick=“window.open(‘{{ post._url }}’, ‘_self’);”>{{ post.title }}</a><br>
    {% endif %}
  {% endif %}
{% endfor %}-->

{% for post in site.Gogolla %}
  {% if post.category == "Gogolla" %}
    {% if post.tag == "lab_meeting_notes" %}
      <a class="post" href="./{{ post.tag }}.html" onclick=“window.open(‘./{{ post.tag }}.html’, ‘_self’);”>{{ post.title }}</a><br>
    {% endif %}
  {% endif %}
{% endfor %}





<!--
<h3>System and information</h3>
{% for post in site.writings %}
  {% if post.category == "writings" %}
    {% if post.tag == "system_and_information" %}
      <a class="post" href="{{ post._url }}" onclick=“window.open(‘{{ post._url }}’, ‘_self’);”>{{ post.title }}</a><br>
    {% endif %}
  {% endif %}
{% endfor %}
-->
