---
layout: good_clean_default
title: Projects
---
<head>
  <meta charset=utf-8 />
  <link rel="stylesheet" href="../css/solo.css" />
  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<title>Writings</title>
</head>

<a class="back" href="../" onclick=“window.open(‘../’, ‘_self’);”><b><</b></a>



<section class="content">
  <h1>Projects</h1>
</section>


<h3>Machines</h3>
    {% for post in site.projects %}
      {% if post.category == "projects" %}
        {% if post.tag == "machine" %}
          <a class="post" href="{{ post.url }}">{{ post.title }}</a><br>
        {% endif %}
      {% endif %}
    {% endfor %}

<h3>Software</h3>
    {% for post in site.projects %}
      {% if post.category == "projects" %}
        {% if post.tag == "software" %}
          <a class="post" href="{{ post.url }}">{{ post.title }}</a><br>
        {% endif %}
      {% endif %}
    {% endfor %}

<!--
<h3>Studienkolleg</h3>
  <h5>Lectures</h5>
    {% for post in site.projects %}
      {% if post.category == "projects" %}
        {% if post.tag == "studienkolleg_lecture" %}
          <a class="post" href="{{ post.url }}">{{ post.title }}</a><br>
        {% endif %}
      {% endif %}
    {% endfor %}
  <h5>Wochenendseminar</h5>
    {% for post in site.projects %}
      {% if post.category == "projects" %}
        {% if post.tag == "studienkolleg_wes" %}
          <a class="post" href="{{ post.url }}">{{ post.title }}</a><br>
        {% endif %}
      {% endif %}
    {% endfor %}
    <h5>Gruppenprojekt</h5>
      {% for post in site.projects %}
        {% if post.category == "projects" %}
          {% if post.tag == "studienkolleg_projekt" %}
            <a class="post" href="{{ post.url }}">{{ post.title }}</a><br>
          {% endif %}
        {% endif %}
	    {% endfor %}
-->
