---
layout: good_clean_default
title: Publications
---
<head>
  <meta charset=utf-8 />
  <link rel="stylesheet" href="../css/solo.css" />
  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<title>Publications</title>
</head>

<div id="centered">

<a class="back" href="../" onclick=“window.open(‘../’, ‘_self’);”><b><</b></a>



<section class="content">
  <h1>Publications</h1>
</section>

<b>2020</b>
<br>
<br>

<a href="./src/görner-et-al-2020-does-the-brain-encode-the-gaze-of-others-as-beams-emitted-by-their-eyes.pdf">
<b>M. Görner, H. Ramezanpour, I. Chong, P. Thier</b>, <i>Does the brain encode the gaze of others as beams emitted by their eyes?</i> Proc Natl Acad Sci USA 117, 20375–20376 (2020).
</a>

<br>
<br>

<a href="./src/ENEURO.0437-19.2020.full.pdf">
<b>P. M. Kraemer, M. Görner, H. Ramezanpour, P. W. Dicke, P. Thier</b>, <i>Frontal, Parietal, and Temporal Brain Areas Are Differentially Activated When Disambiguating Potential Objects of Joint Attention.</i> eNeuro 7 (2020).
</a>

<br>
<br>
<br>


<b>2017</b>
<br>
<br>

<a href="./src/GoernerGBCIC2017.pdf">
<b>M. Görner, B. Schölkopf, M. Grosse-Wentrup</b>, <i>Closing one's Eyes Affects Amplitude Modualtion but not Frequency Modulation in a Cognitive BCI</i> in Proc. 7th Graz Brain-Computer Interface Conf. 2017 From Vis. to Real., pp. 165–170.
</a>



<h3>Fic</h3>
{% for post in site.publications %}
  {% if post.category == "writings" %}
    {% if post.tag == "fiction" %}
      <a href="..{{ post.url }}" onclick=“window.open(‘..{{ post.fname }}’, ‘_self’);”>{{ post.title }}</a><br>
    {% endif %}
  {% endif %}
{% endfor %}

      <h3>Fic</h3>
      {% for post in site.publications %}
        {% if post.category == "writings" %}
          {% if post.tag == "fiction" %}
            ..{{ post.url }}
          {% endif %}
        {% endif %}
      {% endfor %}


</div>

<!--
{% for post in site.Thier %}
  {% if post.category == "Thier" %}
    {% if post.tag == "paper" %}
      <a class="post" href="./{{ post.tag }}.html" onclick=“window.open(‘./{{ post.tag }}.html’, ‘_self’);”>{{ post.title }}</a><br>
    {% endif %}
  {% endif %}
{% endfor %}
-->




<!--
<h3>System and information</h3>
{% for post in site.writings %}
  {% if post.category == "writings" %}
    {% if post.tag == "system_and_information" %}
      <a class="post" href="{{ post._url }}" onclick=“window.open(‘{{ post._url }}’, ‘_self’);”>{{ post.title }}</a><br>
    {% endif %}
  {% endif %}
{% endfor %}
-->
